.container {
  margin-top: 50px;
}

h1,h2,h3,h4 {
  text-align: center;
}

.success, .error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  margin: auto;
  width: 50%;
  padding: 15px;
  text-align: center;
  color: #4F8A10;
  background: #DFF2BF;
}

.error {
  margin: auto;
  width: 50%;
  padding: 15px;
  text-align: center;
  color: #D8000C;
  background: #FFD2D2; 
}

.warning {
  margin: auto;
  width: 50%;
  padding: 15px;
  text-align: center;
  color: #9F6000;
  background: #FEEFB3;
}

#book-form {
  margin: 0 5rem;
}